<div class="container">
  <center><h1>Time to Tweet away!</h1>
  <h2>Get it!</h2>
  <form id="tweet_form" action="/tweet" method="post">
    Tweet<input type="text" name="tweet">
         <input type="submit" value="Tweet!!">
  </form></center>
</div>
